@model EvCreating.Models.EventComment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EventComment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactieDatum" class="control-label"></label>
                <input asp-for="ReactieDatum" class="form-control" />
                <span asp-validation-for="ReactieDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Waardering" class="control-label"></label>
                <input asp-for="Waardering" class="form-control" />
                <span asp-validation-for="Waardering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inhoud" class="control-label"></label>
                <input asp-for="Inhoud" class="form-control" />
                <span asp-validation-for="Inhoud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventID" class="control-label"></label>
                <select asp-for="EventID" class ="form-control" asp-items="ViewBag.EventID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
